body {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	background: #fefefe;
	background-size: 100%;
	color: #7f7f7f;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

h1, h2, h3, p {
	margin: 0;
}

em, a {
	font-style: normal;
	color: #f2790f;
}

a {
	background: #f2790f;
	color: #000;
	text-decoration: none;
}

img {
	width: 100%;
}

div {
	cursor: pointer;
	cursor: hand;
	position: absolute;
	text-align: center;
	display: block;
	width: auto;
	height: auto;
	margin-top: -10px;
}